# Einf√ºhrung in Python

In [1]:
print("Hello World")

Hello World

In [2]:
# !pip install numpy
# !pip install pandas
# !pip install scikit-learn
# !pip install matplotlib

In [ ]:
import numpy as np
from sklearn import datasets
import pandas as pd

In [9]:
iris = datasets.load_iris(return_X_y=True, as_frame=True)
df = iris[0] #use first iris data set

In [10]:
df = iris[0]
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [19]:
def calcMean(df):
    return df.apply(np.mean).to_numpy()
calcMean(df)

array([5.84333333, 3.05733333, 3.758     , 1.19933333])